body
{
    background-color: #ffccaa;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image_left
{
    float: left;
    width: 150px;
    padding: 5px 20px;

}
.image_right
{
    float: right;
    width: 195px;
    padding: 5px 20px;

}
table
{width: 100%;}
h1
{
    color: #a04000;
}
.jstf
{
    text-align: justify;
}
.oszlopok-a
{
    text-align: left;
}
.oszlopok-b
{
    text-align: center;
}
.oszlopok-c
{
    text-align: right;
    vertical-align: bottom;
}
a
{
    color: #a04000;
}